.deck-container-project {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
}

.deck-container-project img {
  margin-bottom: 15px;
}

.card-project,
.card-center {
  position: relative;
  width: 45vh;
  max-width: 260px;
  height: 80vh;
  max-height: 500px;
  will-change: transform;
  border-radius: 15px;
  box-shadow: 0 12.5px 100px -10px rgba(0, 0, 0, 0.2), 0 10px 10px -10px rgba(0, 0, 0, 0.1);
  /* background-color: #ffd700; */
  /* #FFA500 */
  color: black;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;
  text-align: center;

  transition: all 0.15s;
  cursor: pointer;
}

.card-project h2,
.card-center h2 {
  color: black;
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.card-project p,
.card-center p {
  color: black;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.4;
}

.card-project.projects,
.card-center.projects {
  background-color: #ffd700;
  background: linear-gradient(to bottom, #ffd700, #cc9a00);
  color: black;
}

.card-project.projects img,
.card-center.projects img {
  width: 20%;
}

.card-project.internships,
.card-center.internships {
  background-color: #ffa500;
  background: linear-gradient(to bottom right, #ffa500, #ff6600);
  color: black;
}

.card-project.aboutMe,
.card-center.aboutMe {
  background-color: #00bfff;
  background: linear-gradient(to bottom right, #00bfff, #0077b3);
  color: black;
}

.card-project.tools,
.card-center.tools {
  background-color: #7fff00;
  background: linear-gradient(to bottom right, #7fff00, #4b9500);
  color: black;
}

.card-center.center {
  background-color: white;
}

.description,
.title {
  color: black;
}

.card-project:hover,
.card-center:hover {
  box-shadow: 0 12.5px 100px -10px rgba(0, 0, 0, 0.6), 0 10px 10px -10px rgba(0, 0, 0, 0.2);
}

.disabled {
  pointer-events: none;
}

.image-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.image-item {
  width: 80%;
  height: auto;
  object-fit: cover;
}