.deck-container-project {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px;
}

.deck-container-project img {
  margin-bottom: 15px;
}

.card-project,
.card-center {
  position: relative;
  width: 45vh;
  max-width: 260px;
  height: 80vh;
  max-height: 500px;
  will-change: transform;
  border-radius: 15px;
  box-shadow: 0 12.5px 100px -10px rgba(0, 0, 0, 0.2), 0 10px 10px -10px rgba(0, 0, 0, 0.1);
  /* background-color: #ffd700; */
  /* #FFA500 */
  color: black;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;
  text-align: center;

  transition: all 0.15s;
  cursor: pointer;

  /* overflow: auto; */
  box-sizing: border-box;
}

.card-project h2,
.card-center h2 {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.card-project p,
.card-center p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.4;
}

.card-project.projects img,
.card-center.projects img {
  width: 20%;
}

/* .card-project.projects,
.card-center.projects {
  background-color: #ffd700;
  background: linear-gradient(to bottom, #ffd700, #cc9a00);
  color: black;
  box-shadow: 0 0 6px 4px rgba(255, 255, 0, 0.3);
}

.card-project.internships,
.card-center.internships {
  background-color: #ffa500;
  background: linear-gradient(to bottom right, #ffa500, #ff6600);
  color: black;
  box-shadow: 0 0 6px 4px rgba(255, 165, 0, 0.5);
}

.card-project.aboutMe,
.card-center.aboutMe {
  background-color: #00bfff;
  background: linear-gradient(to bottom right, #00bfff, #0077b3);
  color: black;
  box-shadow: 0 0 6px 4px rgba(0, 191, 255, 0.5);
}

.card-project.tools,
.card-center.tools {
  background-color: #7fff00;
  background: linear-gradient(to bottom right, #7fff00, #4b9500);
  color: black;
  box-shadow: 0 0 6px 4px rgba(127, 255, 0, 0.5);
} */

.card-project.projects,
.card-center.projects {
  background-color: #004d40;
  color: #ffffff;
  box-shadow: 0 0 12px rgba(127, 255, 0, 0.7);
  transition: box-shadow 0.3s ease;
}

.card-project.projects:hover,
.card-center.projects:hover {
  box-shadow: 0 0 20px rgba(127, 255, 0, 0.9);
}

.card-project.internships,
.card-center.internships {
  background-color: #4a0e03;
  color: #ffffff;
  box-shadow: 0 0 12px rgba(255, 77, 77, 0.9);
  transition: box-shadow 0.3s ease;
}

.card-project.internships:hover,
.card-center.internships:hover {
  box-shadow: 0 0 20px rgba(255, 77, 77, 0.9);
}

.card-project.aboutMe,
.card-center.aboutMe {
  background-color: #1a1a1a;
  color: #ffffff;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.4);
  transition: box-shadow 0.3s ease;
}

.card-project.aboutMe:hover,
.card-center.aboutMe:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

.card-project.tools,
.card-center.tools {
  background-color: #1a2c37;
  color: #ffffff;
  box-shadow: 0 0 12px rgba(74, 175, 204, 0.7);
  transition: box-shadow 0.3s ease;
}

.card-project.tools:hover,
.card-center.tools:hover {
  box-shadow: 0 0 20px rgba(74, 175, 204, 0.9);
}


/* .card-project:hover,
.card-center:hover {
  box-shadow: 0 12.5px 100px -10px rgba(0, 0, 0, 0.6), 0 10px 10px -10px rgba(0, 0, 0, 0.2);
} */

.github_logo {
  /* box-shadow: 0 0 20px #ffff00; */
  filter: drop-shadow(0 0 6px rgba(255, 255, 0, 0.7));
  /* border: 2px red solid; */
}

.github-logo-aboutMe {
  border-radius: 50%;
  /* filter: drop-shadow(0 0 5px #ffffff); */
}

.card-center.center {
  background-color: white;
}


.disabled {
  pointer-events: none;
}

.image-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
}

.image-item {
  width: 80%;
  height: auto;
  object-fit: cover;
}

@media(max-width: 767px) {

  .card-project,
  .card-center {
    width: 37vw;
    height: 33vh;
    overflow: auto;
    padding: 10px;
    /* object-fit: contain; */
  }

  .card-project h2,
  .card-center h2 {
    margin: 0;
    font-size: 17px;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 12px;
  }

  .card-project p,
  .card-center p {
    margin-top: 10px;
    font-size: 12px;
    line-height: 1;
  }

  .about-me-image {
    width: 30vw !important;
    height: 22vh !important;
  }

  .uoft-image {
    width: 32vw !important;
    height: 7vh !important;
    margin-bottom: 10px !important;
  }

  .github-logo-aboutMe {
    width: 40px !important;
    height: 40px !important;
  }

  .linkedIn-logo-aboutMe {
    width: 60px !important;
    height: 70px !important;
  }

  .email-logo-aboutMe {
    width: 40px !important;
    height: 40px !important;
  }

  .aws-courses-image {
    max-width: 23vw !important;
    margin-bottom: -5px !important;
  }

  .harvard-courses-image {
    max-width: 32vw !important;
    margin-bottom: 6px !important;
  }

  .google-courses-image {
    max-width: 15vw !important;
    margin-bottom: -06px !important;
  }

  .eand-image {
    max-width: 30vw !important;
    margin-bottom: 10px !important;
  }
}

/* @media (max-width: 430px){
  .card-project,
  .card-center {
    height: 16vh;
  }

  .about-me-image {
    width: 28vw !important;
    height: 10vh !important;
  }

  .uoft-image {
    width: 30vw !important;
    height: 3vh !important;
  }
} */