@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    user-select: none;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial,
        sans-serif;
    background-color: #121212;
    overflow-x: hidden;
}

body {
    background-image: url('assets/background_three.png');
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}

#root {
    width: 100%;
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
}

.container {
    position: relative;
}

.header {
    font-size: 55px;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.7);
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header:hover {
    transform: translate(-50%, -50%) scale(1.05); /* Scale up on hover */
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.6); /* Increase glow on hover */
    cursor: pointer; /* Pointer cursor on hover */
}


    /* font-family: 'Arial', sans-serif; */

/* .header {
    font-size: 55px;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #ffffff;
    background: linear-gradient(135deg, #DC143C, #E04E3D);
    border: 6px solid #ffffff;
    padding: 15px 35px;
    padding-top: 25px;
    border-radius: 15px;
    box-shadow: 0 2px 50px red;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    font-family: 'Special Elite', system-ui;
    font-weight: bold;
    letter-spacing: 2px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header:hover {
    transform: translate(-50%, -50%) scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.7);
} */

/* .header-div {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-div img {
    width: 320px;
} */

/* @media (max-width: 1600px) {
    .header {
        left: 45%;
    }
} */

@media (max-width: 1400px) {
    body,
    html {
        overflow: auto;
    }

    .header {
        left: 56%;
    }
}

@media (max-width: 1254px) {
    .header {
        left: 58%;
    }
}

@media (max-width: 1200px) {
    .header {
        left: 63%;
    }
}

@media (max-width: 1100px) {
    .header {
        left: 68%;
    }
}

@media (max-width: 900px) {
    .header {
        left: 85%;
    }
}

@media (max-width: 850px) {
    .header {
        left: 90%;
    }
}

@media (max-width: 769px) {
    .header {
        left: 95%;
    }
}

@media (max-width: 500px) {
    .header {
        left: 180%;
    }
}