.logo-container {
    position: relative;
    display: inline-block;
}

.logo-image {
    width: 50px;
    height: 50px;
    display: block;
    transition: all 0.3s;
}

.tooltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    white-space: nowrap;
}

.logo-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.logo-container.hover-effect:hover .logo-image {
    transform: scale(1.05);
}